<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-5" style="background-color: #000; color: #fff;">
                <div class="card-header" style="background-color: #000; color: #fff;">
                    <h1 class="text-center">
                        Edit Expense
                    </h1>
                </div>
                <div class="card-body mb-5" style="filter: grayscale(100%);">
                    <form method="POST" action="/expense/editExpense/<%= expense._id %>">
                        <div class="mb-4 position-relative">
                            <label for="amountField" class="form-label" style="color: #fff;">Amount</label>
                            <input type="number" class="form-control" id="amountField"
                                placeholder="Enter the Amount" name="amount"
                                value="<%= expense.amount %>" required
                                style="background-color: #333; color: #fff;">
                        </div>

                        <div class="mb-4 position-relative">
                            <label for="categoryField" class="form-label" style="color: #fff;">Category</label>
                            <select class="form-select" id="categoryField" name="category" required style="background-color: #333; color: #fff;">
                                <option value="" selected disabled>Select a category</option>
                                <option value="Rent" <%= expense.category === 'Rent' ? 'selected' : '' %>>Rent</option>
                                <option value="Utilities" <%= expense.category === 'Utilities' ? 'selected' : '' %>>Utilities</option>
                                <option value="Food" <%= expense.category === 'Food' ? 'selected' : '' %>>Food</option>
                                <option value="Entertainment" <%= expense.category === 'Entertainment' ? 'selected' : '' %>>Entertainment</option>
                                <option value="Insurance" <%= expense.category === 'Insurance' ? 'selected' : '' %>>Insurance</option>
                                <option value="Communications" <%= expense.category === 'Communications' ? 'selected' : '' %>>Communications</option>
                                <option value="Other" <%= expense.category === 'Other' ? 'selected' : '' %>>Other</option>
                            </select>
                        </div>
                        

                        <div class="mb-4 position-relative">
                            <label for="descriptionTextArea" class="form-label" style="color: #fff;">Description</label>
                            <textarea class="form-control" id="descriptionTextArea"
                                placeholder="Enter Description" name="description" required
                                style="background-color: #333; color: #fff;"><%= expense.description %></textarea>
                        </div>

                        <div class="mb-4 position-relative">
                            <label for="dateField" class="form-label" style="color: #fff;">Date</label>
                            <input type="date" class="form-control" id="dateField" name="date"
                                value="<%= expense.date.toISOString().slice(0, 10) %>" required
                                style="background-color: #333; color: #fff;">
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-edit"></i> Update
                            </button>

                            <a href="/expense/expenseList" class="btn btn-warning">
                                <i class="fas fa-undo"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>
