<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container pb-5" style="color: #fff;">
    <div class="row">
        <div class="offset-md-1 col-md-10 text-center">
            <h1 class="animated-heading" style="margin-top: 30px; color: #000;">Expense Tracker</h1>
            <div class="mb-4"></div>

            <% if(typeof displayName === 'string' && displayName) { %>
            <div class="text-center mt-4">
                <a href="/expense/addExpense" class="btn btn-outline-light btn-lg rounded-pill"
                    role="button" style="background-color: black; border-color: black; transition: all 0.3s ease-in-out;">
                    <i class="fas fa-plus-circle" style="margin-right: 10px; color: #fff;"></i> Add Expense
                </a>
            </div>
            <% } %>

            <div class="row">
                <% for(let count=0; count < expenses.length; count++) { %>
                <div class="col-md-6 mt-5">
                    <div class="card mb-4" style="background-color: #000; color: #fff;">
                        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                            <h5 class="card-title" style="font-weight: 700;"><%= expenses[count].category %>:</h5>
                            <p class="card-text">$<%= expenses[count].amount.toFixed(2) %></p>
                            <div class="text-right mb-2">
                                <% if(typeof displayName === 'string' && displayName) { %>
                                <a href="/expense/editExpense/<%= expenses[count]._id %>" class="btn btn-info btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <button class="btn btn-danger btn-sm ml-2"
                                    onclick="confirmDeleteExpense('<%= expenses[count]._id %>')">
                                    <i class="fas fa-trash-alt"></i> 
                                </button>
                                <% } %>
                            </div>
                        </div>
                        <div class="card-body">
                            <div onclick="toggleDetails('collapseDescription<%= count %>')" style="cursor: pointer;">
                                Show More <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="collapse" id="collapseDescription<%= count %>">
                                <p class="card-text"><strong>Date:</strong> <%= expenses[count].date.toDateString() %></p>
                                <p class="card-text"><strong>Description:</strong> <%= expenses[count].description %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>

<style>
    .btn {
        font-family: 'Nova Square', sans-serif;
    }

    .collapse {
        display: none;
    }

    .collapse.show {
        display: block;
    }

    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        border-radius: 10px;
        cursor: pointer;
    }
</style>

<script>
    function confirmDeleteExpense(expenseId) {
        if (confirm("Are you sure you want to delete this expense?")) {
            window.location.href = "/expenses/deleteExpense/" + expenseId;
        }
    }

    function toggleDetails(collapseId) {
        const collapseElem = document.getElementById(collapseId);
        if (collapseElem.classList.contains('show')) {
            collapseElem.classList.remove('show');
        } else {
            const allCollapses = document.querySelectorAll('.collapse.show');
            allCollapses.forEach((collapse) => {
                collapse.classList.remove('show');
            });
            collapseElem.classList.add('show');
        }
    }
</script>
